$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
  background-color: #FFF;
  font-family: "SimpleSansLight", Arial, sans-serif;
  font-size: 18px;
}
.padding-0 {
  padding: 0 !important;
  margin: 0 !important;
}
.padding25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
div.spicy div {
  padding: 10px;
  border: solid 2px blue;
}
@media (max-width: 480px) {}
@media (min-width: 481px) and (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 992px) {}
@media (min-width: 993px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}
