<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="fonts/fonts.css">
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <!--[if IE]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style type="text/css">
    .css-form input.ng-invalid.ng-touched {
      background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
      background-color: #78FA89;
    }
  </style>
</head>

<body ng-app="formExample">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div ng-controller="ExampleController">
        <form name="form" class="css-form" novalidate>
          Name:
          <input type="text" ng-model="user.name" ng-model-options="{debounce: 600}" name="uName" required=""/>
          <br/>
          <div ng-show="form.$submitted || form.uName.$touched">
            <div ng-show="form.uName.$error.required">Tell us your name.</div>
          </div>

          E-mail:
          <input type="email" ng-model="user.email" name="uEmail" required=""/>
          <br/>
          <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
          </div>

          Gender:
          <input type="radio" ng-model="user.gender" value="male"/>male
          <input type="radio" ng-model="user.gender" value="female"/>female
          <br/>
          <input type="checkbox" ng-model="user.agree" name="userAgree" required=""/>

          I agree:
          <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required=""/>
          <br/>
          <div ng-show="form.$submitted || form.userAgree.$touched">
            <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
          </div>

          <input type="button" ng-click="reset(form)" value="Reset"/>
          <input type="submit" ng-click="update(user)" value="Save"/>
        </form>
        <pre>user = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
      </div>
    </div>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');

</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>

</html>
